h1{
	color: black;
	font-family: Papyrus;
	font-size: 300%;
	font-weight: bold;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
}

p{
	color: black;
	font-size: 14px;
}

.introButton{

	background-color: #000000;
	border-radius: 4px;
	color: white;
	padding: 20px;
	width: 150px;
	height: 50px;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	margin: 300px auto 0 auto;
	cursor: pointer;
	font-family: Papyrus;
	position: relative;
}

.artmapButton{

	background-color: #000000;
	border-radius: 4px;
	color: white;
	padding: 20px;
	width: 150px;
	height: 50px;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	margin: 5px;
	cursor: pointer;
	font-family: Papyrus;
}
