*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Georgia;
	color: #fff;
	font-size: 14px;
	background: white;
}

p{
	color: black;
}

a {
	color: black;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
a:hover,
a.selected, a.active {
	color: #ffcc00;
}

h1,h2,h4,h5,h6 {
	text-align: center;
	color: black;
	/*text-shadow: #000 1px 1px 2px;*/
	margin-bottom: 5px;
}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 14px;
	}
	h5{
		color: black;
	}
	.sociales {
		text-align: center;
		margin-bottom: 20px;
	}

#timeline {
	width: 1000px;
	height: 1300px;
	overflow: hidden;
	margin: 20px auto;
	position: relative;
	background: url('http://www.csslab.cl/ejemplos/timelinr/latest/images/dot.gif') 3px top repeat-y;
	color: black;
}
#dates {
	width: 100px;
	height: 1300px;
	overflow: hidden;
	float: left;
	color: black;
}
#dates li {
	list-style: none;
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 24px;
	padding-left: 10px;
	background: url('http://www.csslab.cl/ejemplos/timelinr/latest/images/biggerdot.png') left center no-repeat;
	color: black;
}
#dates a {
	line-height: 38px;
	padding-bottom: 10px;
	color: black;
}
#dates .selected {
	font-size: 24px;
	color: black;
}
		
#issues {
	width: 900px;
	height: 1300px;
	overflow: hidden;
}	
#issues li {
	max-width: 800px; 
	height: 1300px;
	list-style: none;
    text-align: center;


}

#issues li img {
   	width: 200px; //add
    height: 800px;
	margin: 20px 40px 20px 60px;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
	zoom: 1;
	-webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out; 
	transition: all 2s ease-in-out;
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
	float: right;
	padding-right: 30px;
	padding-bottom: 30px;
	display: block;
	margin-top: 0%;
	margin-right: 1%;
}

#issues li h1 {
	color: black;
	font-size: 24px;
	text-align: right;
	/*text-shadow: #000 1px 1px 2px;*/
}

#issues li h2{
	color: black;
	font-size: 18px;
	text-align: right;
	/*text-shadow: #000 1px 1px 2px;*/
}

#issues li h3{
	color: black;
	font-size: 14px;
	text-align: right;
	/*text-shadow: #000 1px 1px 2px;*/
}

#issues li h4 {
	color: black;
	font-size: 12px;
	text-align: right;
	/*text-shadow: #000 1px 1px 2px;*/
}

#issues li p {
	font-size: 12px;
	margin: 10px 20px;
	font-weight: normal;
	line-height: 22px;
	/*text-shadow: #000 1px 1px 2px;*/
	text-align: right;
}

.box1{
border: 8px solid black;
padding: 5px;
font: 24px/36px sans-serif;
width: 400px;
height: 400px;
overflow: scroll;
position: relative;
top:20px; 
}

::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid black;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: black;  
border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
background: black;  
}


.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
